header {
  margin-right: 57px;
  margin-left: 45px;
  margin-top: 56px;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  color: #111111;
}

header .itens {
  font-family: "Nunito", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  margin-bottom: 33px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

header .itens .item {
  width: 33.3%;
  -webkit-box-shadow: inset 0px -2px 0px #AAAAAA;
          box-shadow: inset 0px -2px 0px #AAAAAA;
  padding-bottom: 13px;
  -webkit-transition: .2s;
  transition: .2s;
}

header .itens .item a {
  text-decoration: none;
  color: #111111;
}

header .itens .item:hover {
  -webkit-box-shadow: inset 0px -2px 0px #074ee8;
          box-shadow: inset 0px -2px 0px #074ee8;
  color: #074ee8;
}

@media (max-width: 450px) {
  header {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
  .itens .item {
    width: 100% !important;
    margin-top: 10px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-tb {
  font-family: "Nunito", sans-serif;
  color: #767676;
  margin: 0 45px;
  margin-right: 55px;
}

main .main-tb .tb-with-heart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-tb .tb-with-heart-box .tb-with-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

main .main-tb .tb-with-heart-box .tb-with-heart img {
  margin: 11px;
  position: absolute;
  margin-top: 14px;
  width: 20px;
  margin-right: 13px;
}

main .main-tb .tb-with-heart-box .trash-btn {
  padding: 10px;
}

main .main-tb h3 {
  height: 16px;
  size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

main .main-tb input {
  font-family: "Nunito", sans-serif;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 41px;
  cursor: pointer;
}

main .email-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Nunito", sans-serif;
  color: #767676;
  margin-left: 45px;
  margin-right: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .email-phone .email {
  margin-right: 24px;
  width: 70%;
}

main .email-phone .email h3 {
  height: 16px;
  size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

main .email-phone .email input {
  margin-top: 4px;
  font-family: "Nunito", sans-serif;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

main .email-phone .phone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
}

main .email-phone .phone h3 {
  height: 16px;
  size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

main .email-phone .phone input {
  margin-top: 4px;
  font-family: "Nunito", sans-serif;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

main .birthday-title {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #767676;
  font-size: 18px;
  margin-left: 45px;
  margin-top: 33px;
  margin-bottom: 14px;
  line-height: 16px;
  width: 50%;
}

main .birthday {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #767676;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 23px;
  margin-right: 55px;
}

main .birthday .bd-part1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

main .birthday .bd-part1 .tb-date {
  margin-left: 22px;
  width: 100%;
}

main .birthday .bd-part1 .tb-date select {
  margin-top: 4px;
  font-family: "Nunito", sans-serif;
  padding: 11px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  background-color: white;
  cursor: pointer;
}

main .birthday .bd-part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 33px;
}

main .birthday .bd-part2 .tb-date {
  margin-left: 22px;
  width: 100%;
}

main .birthday .bd-part2 .tb-date select {
  margin-top: 4px;
  padding: 11px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  background-color: white;
}

main .birthday .bd-part2 .tb-date .tb-age {
  margin-top: 4px;
  font-family: "Nunito", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #AAAAAA;
  background-color: white;
  cursor: pointer;
}

main .terms-of-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #111111;
  font-family: "Nunito", sans-serif;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 4px;
  margin-left: 39.5px;
  margin-bottom: 43px;
}

main .terms-of-service h2 {
  margin-top: 1px;
  margin-left: 8px;
  text-shadow: 1px 5px 7px #AAAAAA;
}

main .terms-of-service input {
  cursor: pointer;
  border-radius: 2px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

main .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -20px;
  margin-left: 45px;
  font-family: "Nunito", sans-serif;
  color: red;
  margin-bottom: 10px;
}

main .messages #message1 {
  margin-bottom: 5px;
  margin-right: 5px;
}

main .messages p {
  text-shadow: 1px 5px 7px #aaaaaa;
}

main .next-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
  margin-bottom: 43px;
}

main .next-btn-box .next-btn {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  margin-right: 57px;
  color: white;
  background-color: #074ee8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
  font-size: 16px;
  border-radius: 4px;
}

main .next-btn-box .next-btn h1 {
  margin-top: 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

main .next-btn-box .next-btn .blue-text {
  display: none;
}

main .next-btn-box .next-btn .arrow-icon {
  margin-left: 12px;
  width: 8px;
  height: 13px;
  margin-top: 2px;
  margin-right: 3px;
}

main .next-btn-box .next-btn .blue-arrow-icon {
  display: none;
  margin-left: 12px;
  width: 8px;
  height: 13px;
  margin-top: 2px;
  margin-right: 3px;
}

main .next-btn-box .next-btn .plus-icon {
  margin-right: 6px;
}

main .next-btn-box .next-btn:active {
  background-color: white;
  color: #074ee8;
  border: 2px solid #074ee8;
  padding: 9px;
}

main .next-btn-box .next-btn:active .arrow-icon {
  display: none;
}

main .next-btn-box .next-btn:active .blue-arrow-icon {
  display: block;
}

main .next-btn-box .next-btn:active .blue-text {
  display: block;
}

main .next-btn-box .next-btn:active .white-text {
  display: none;
}

main .more-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  margin-bottom: 43px;
  margin-left: 45px;
}

main .more-btn-box .trash-btn {
  background-color: #074ee8;
  padding: 7px;
  border-radius: 4px;
}

main .more-btn-box .trash-btn .trash-icon-blue {
  display: none;
}

main .more-btn-box .trash-btn:active {
  background-color: white;
  color: #074ee8;
  border: 2px solid #074ee8;
  padding: 5px !important;
}

main .more-btn-box .trash-btn:active .trash-icon {
  display: none;
}

main .more-btn-box .trash-btn:active .trash-icon-blue {
  display: block;
}

main .more-btn-box .next-btn {
  font-family: "Nunito", sans-serif;
  margin-right: 57px;
  color: white;
  background-color: #074ee8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
  font-size: 16px;
  border-radius: 4px;
}

main .more-btn-box .next-btn h1 {
  margin-top: 1px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

main .more-btn-box .next-btn .blue-text {
  display: none;
}

main .more-btn-box .next-btn .arrow-icon {
  margin-left: 12px;
  width: 8px;
  height: 13px;
  margin-top: 2px;
  margin-right: 3px;
}

main .more-btn-box .next-btn .blue-arrow-icon {
  display: none;
  margin-left: 12px;
  width: 8px;
  height: 13px;
  margin-top: 2px;
  margin-right: 3px;
}

main .more-btn-box .next-btn .plus-icon {
  margin-right: 6px;
}

main .more-btn-box .next-btn:active {
  background-color: white;
  color: #074ee8;
  border: 2px solid #074ee8;
  padding: 9px;
}

main .more-btn-box .next-btn:active .arrow-icon {
  display: none;
}

main .more-btn-box .next-btn:active .blue-arrow-icon {
  display: block;
}

main .more-btn-box .next-btn:active .blue-text {
  display: block;
}

main .more-btn-box .next-btn:active .white-text {
  display: none;
}

@media (max-width: 450px) {
  .birthday {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .email-phone {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .email-phone .email {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .email-phone .phone {
    margin-top: 33px;
    width: 100% !important;
  }
  .main-tb {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .email-phone {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .birthday-title {
    margin-left: 20px !important;
  }
  .birthday {
    margin-left: -2px !important;
    margin-right: 20px !important;
  }
  .terms-of-service {
    margin-left: 15px !important;
  }
  .next-btn {
    margin-right: 20px !important;
  }
  .messages {
    margin-left: 20px !important;
  }
  .more-btn-box {
    margin-left: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */