@import url('http://fonts.cdnfonts.com/css/tt-norms-pro');

//fonts
$title-font: 'Bad Script', cursive;
$main-font: 'TT Norms Pro', sans-serif;

//colors
$primary-orange: #ffa451;
$secondary-white: #ffffff;
$title-color-blue: #27214d;
$paragraph-blue: #5d577e;