@import '../abstract/variable';

main{
    
    display: flex;
    flex-direction: column;
    .main-tb{
       
        font-family: $font-main;
        color: $color-second;
        margin: 0 45px;
        margin-right: 55px;
        
        .tb-with-heart-box{
            display: flex;
            justify-content: space-between;
            .tb-with-heart{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                
                img{
                    margin:11px;
                    position: absolute;
                    margin-top: 14px;  
                    width: 20px;
                    margin-right: 13px;
                }
            }
            .trash-btn{
                padding: 10px;
            }
        }
        
        h3{
            height: 16px;
            size: 14px;
            line-height: 16px;
            margin-bottom: 4px;
        }
        input{
            font-family: $font-main;
            padding: 12px;
            border-radius: 4px;
            border: 2px solid #AAAAAA;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 30px;
            padding-right: 41px;
            cursor: pointer;
        }
        
    }
    .email-phone{
        display:flex;
        font-family: $font-main;
        color: $color-second;
        margin-left: 45px;
        margin-right: 55px;
        justify-content: space-between;

        .email{
            margin-right: 24px;
            width: 70%;
            h3{
                height: 16px;
                size: 14px;
                line-height: 16px;
                margin-bottom: 4px;
            }
            input{
                margin-top: 4px;
                font-family: $font-main;
                padding: 12px;
                border-radius: 4px;
                border: 2px solid #AAAAAA;
                box-sizing: border-box;
                width: 100%;
                cursor: pointer;
            }

        }
        .phone{
            box-sizing: border-box;
            width: 30%;
            h3{
                height: 16px;
                size: 14px;
                line-height: 16px;
                margin-bottom: 4px;
            }
            input{
                margin-top: 4px;
                font-family: $font-main;
                padding: 12px;
                border-radius: 4px;
                border: 2px solid #AAAAAA;
                box-sizing: border-box;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .birthday-title{
        font-family: $font-main;
        font-weight: 400;
        color: $color-second;
        font-size: 18px;
        margin-left: 45px;
        margin-top: 33px;
        margin-bottom: 14px;
        line-height: 16px;
        width: 50%;
    }
    .birthday{
        font-family: $font-main;
        font-weight: 400;
        color: $color-second;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        
        margin-left: 23px;
        margin-right: 55px;
        .bd-part1{
            width: 100%;
            display: flex;
            margin-bottom: 33px;
            .tb-date{
                margin-left: 22px;
                width: 100%;
                //margin-left: 22px;
                select{
                    margin-top: 4px;
                    font-family: $font-main;
                    padding: 11px;
                    width: 100%;
                    border-radius: 4px;
                    border: 2px solid #AAAAAA;
                    background-color: white;
                    cursor: pointer;
                }
            }
        }
        
        .bd-part2{
            display: flex;
            width: 100%;
            margin-bottom: 33px;
            
            .tb-date{
                margin-left: 22px;
                width: 100%;
                //margin-left: 22px;
                select{
                    margin-top: 4px;
                    padding: 11px;
                    width: 100%;
                    border-radius: 4px;
                    border: 2px solid #AAAAAA;
                    background-color: white;
                }
                .tb-age{
                    margin-top: 4px;
                    font-family: $font-main;
                    box-sizing: border-box;
                    padding: 11px;
                    width: 100%;
                    border-radius: 4px;
                    border: 2px solid #AAAAAA;
                    background-color: white;
                    cursor: pointer;
                }
            }
        }
    }
    .terms-of-service{
        display: flex;
        color: #111111;
        font-family: $font-main;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        padding: 4px;
        margin-left: 39.5px;
        
        margin-bottom: 43px;
        h2{
            margin-top: 1px;
            margin-left: 8px;
            text-shadow: 1px 5px 7px #AAAAAA;
        }
        input{
            cursor: pointer;
            border-radius: 2px;
            transform: scale(1.4);
        }
    }
    .messages{
        display: flex;
        flex-wrap: wrap;
        //flex-direction: column;
        margin-top: -20px;
        margin-left: 45px;
        font-family: $font-main;
        color: red;
        margin-bottom: 10px;
        //justify-content: space-evenly;
        #message1{
            margin-bottom: 5px;
            margin-right: 5px;
        }
        p{
            
        text-shadow: 1px 5px 7px #aaaaaa;


        }
        
    }
    .next-btn-box{
        display: flex;
        justify-content: flex-end;
        height: 40px;
        margin-bottom: 43px;
        
        .next-btn{
            cursor: pointer;
            font-family: $font-main;
            margin-right: 57px;
            color: white;
            background-color: $color-primaryBlue;
            display: flex;
            padding: 11px;
            font-size: 16px;
            border-radius: 4px;
            h1{
                margin-top: 1px;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            .blue-text{
                display: none;
            }
            
            .arrow-icon{
                margin-left: 12px;
                width: 8px;
                height: 13px;
                margin-top: 2px;
                margin-right: 3px;
                
            }
            .blue-arrow-icon{
                display: none;
                margin-left: 12px;
                width: 8px;
                height: 13px;
                margin-top: 2px;
                margin-right: 3px;
            }
            .plus-icon{
                margin-right: 6px;
            }
            //transition: .1s;
        }
        .next-btn:active{
            background-color: white;
            color: $color-primaryBlue;
            border: 2px solid $color-primaryBlue;
            padding: 9px;
            .arrow-icon{
                display:none;
            }
            .blue-arrow-icon{
                display: block;
            }
            .blue-text{
                display: block;
            }
            .white-text{
                display: none;
            }
        }
    }
    .more-btn-box{
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-bottom: 43px;
        margin-left: 45px;
        .trash-btn{
            background-color: $color-primaryBlue;
            padding: 7px ;
            border-radius: 4px;

            .trash-icon-blue{
                display: none;
            }
            &:active{
                background-color: white;
                color: $color-primaryBlue;
                border: 2px solid $color-primaryBlue;
                padding: 5px!important;
                .trash-icon{
                    display: none;
                }
                .trash-icon-blue{
                    display: block;
                }
            }
        }
        .next-btn{
            font-family: $font-main;
            margin-right: 57px;
            color: white;
            background-color: $color-primaryBlue;
            display: flex;
            padding: 11px;
            font-size: 16px;
            border-radius: 4px;
            h1{
                margin-top: 1px;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            .blue-text{
                display: none;
            }
            
            .arrow-icon{
                margin-left: 12px;
                width: 8px;
                height: 13px;
                margin-top: 2px;
                margin-right: 3px;
                
            }
            .blue-arrow-icon{
                display: none;
                margin-left: 12px;
                width: 8px;
                height: 13px;
                margin-top: 2px;
                margin-right: 3px;
            }
            .plus-icon{
                margin-right: 6px;
            }
            //transition: .1s;
        }
        .next-btn:active{
            background-color: white;
            color: $color-primaryBlue;
            border: 2px solid $color-primaryBlue;
            padding: 9px;
            .arrow-icon{
                display:none;
            }
            .blue-arrow-icon{
                display: block;
            }
            .blue-text{
                display: block;
            }
            .white-text{
                display: none;
            }
        }
    }
}

@media (max-width: 450px) {
    .birthday{
        flex-wrap: wrap;
        
    }
    .email-phone{
        flex-wrap: wrap;
        .email{
            margin-right: 0 !important;
            width: 100% !important;
        }

        .phone{
            
            margin-top: 33px;
            width: 100% !important;
        }
    }
    .main-tb{
        margin-left:  20px!important;
        margin-right: 20px!important;
    }
    .email-phone{
        margin-left: 20px!important;
        margin-right: 20px!important;
    }
    .birthday-title{
        margin-left: 20px!important;
    }
    .birthday{
        margin-left: -2px!important;
        margin-right: 20px!important;
        .bd-part1{
            
        }
    }
    .terms-of-service{
        margin-left: 15px!important;
        
    }
    .next-btn{
        margin-right: 20px!important;
    }
    .trash-btn{
        //margin-left: -20px!important;
    }
    .messages{
        margin-left: 20px!important;

    }
    .more-btn-box{
        margin-left: 20px!important;
    }
}